:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray:#EEEEEE;
  --basic-brown:#766357;
  --basic-light-gray:#333333;
  --basic-light-brown:#766458;
  --basic-blue:#81B3D3;
  --basic-blue-2:#81B3D2;
  --special: #669EC0;
  --basic-dark:#F2F2F2;
}

/* Global */

body {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

}

a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* Grid */

  .page {
  height: 100%;
}

/* Main header */

  .inner-page .main-header {
  background-color: var(--basic-white);
  margin-bottom: 70px;
}

/* Main navigation */

  .main-navigation {
  position: relative;
  display: grid;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Logo */

.main-header-logo {
  z-index: 10;
  width: 138px;
  position: absolute;
  top: 0;
  right:0;
  left: 0;
  margin: 0 auto;
}

.main-header-bar {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--basic-white);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 15px 72px;
  list-style: none;
}

.second-li{
  margin-right: 150px;
}
.third-li{
  margin-left: 150px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */


.site-navigation a,
.user-navigation a {
  text-decoration: none;
  color: var(--basic-black);
/*  padding: 85px*/
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-white);
}

.inf{
  position: static;
  top: 14px

  left: 73px;

}

/*background*/


.background{
  position: relative;
}

.welcome{
  position: absolute;
  top: 71px;
  left:500px;
}

.to-the{
  position: absolute;
  top: 130px;
  left:472px
}

.sedona{
  position: absolute;
  top: 220px;
  left: 371px;
}

.pattern{
  position: absolute;
  top: 452px;
  left: 0;

}

.description {
  padding-top:  42px;
  padding-bottom: 51px;
  width: 465px;
  margin: 0 auto;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.description p {
padding-top: 16px;
font-size: 14px;
font-weight: normal;
white-space: nowrap;
}

.description h3 {
  text-align: center;
  font-size: 21px;
  line-height: 24px;
}


/* Features */

.first-block{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.picture-one{
   flex: 0 0 auto;
}

.true-city{
   height: 100%;
   width: 100%;
   background: #81B3D2;
   color: #ffffff;
   min-height: 256px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.number{
  font-weight: 400
}

.paragraph{
  font-weight: 400;
  max-width: 300px;
}

.second-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 330px;
}

.advantages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.advantages-p{
  max-width: 255px;
  text-align: center;
  font-weight: 400;
}

.third-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.picture-two{
   flex: 0 0 auto;
}

.devils-bridge{
  height: 100%;
  width: 100%;
  background: #81B3D2;
  color: #ffffff;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fourth-block{
  background: #EEEEEE;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 330px;
}

.bottom-features{
  display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 400px;

}

.bottom-paragraph{
  font-weight: 400;
  max-width: 255px;
  text-align: center;
}



/* Interesting */


.modal{
  position: relative;
  margin: 0 auto;
  width: 568px;
}

.modal h2{
  text-align: center;
    color: var(--basic-white);
  background-color: #766357;
  padding: 31px 31px;
  margin: 0;
  }

.booked-form{
  position: absolute;
      background: white;
      width: 100%;
      padding: 61px 55px;
      box-sizing: border-box;
}

.booked-form p {
  margin: 0;
  margin-bottom: 10px;
}

.booked-form input[type="email"],
.booked-form input[type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 15px;
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: #F2F2F2;

}

.booked-form input:focus {
  border-color: var(--special);
}

.booked-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.icon-date {
  background-image: url("img/calendar.png");
  background-position: 270px 50%;
  background-size: 13px;
 background-repeat: no-repeat;
 border: none;
   background: #F2F2F2;
   padding: 11px 13px;
   font-weight: bold;
   width: 100%;
}

.label-date{
  width: 100px;
  flex: 0 0 auto;
}

.input-label{
  display: flex;
  align-items: center;
}
/*

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: var(--special);
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid var(--basic-black);
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: var(--special);
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: var(--basic-black);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
*/
 .found {
   border: none;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
  background-color: var(--basic-blue);
  width: 100%;
  margin-top: 30px;
  margin-right: 0;
  padding: 20px 40px
}

.box{
  display: flex;
      height: 38px;
      align-items: center;
}

.modal-plus, .modal-minus {
  border: 0;
    background-color: #F2F2F2;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 0;
}
.modal-plus::before,
.modal-plus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
}

.modal-plus::before {
  transform: rotate(90deg);
}

.modal-plus::after {
  transform: rotate(180deg);
}




/*.modal-minus {
  width: 32px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 90px
}*/
.modal-minus::before,
.modal-minus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
}

.come-date{
  height: 38px;
     box-sizing: border-box;
     border: 0;
     background: #F2F2F2;
     max-width: 36px;
     text-align: center;
     font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus-minus{
  display: flex;
  justify-content: space-between;

}

.block{
  display: flex;
 align-items: center;
}

.people{
  display: block;
    margin-bottom: 0;
    width: 100px;
}

.kids{
  width: 50px;
  display: flex;
  justify-content: flex-start;
}





.interesting {
  padding-top:  58px;
  padding-bottom: 24px;
  width: 465px;
  margin: 0 auto;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.interesting p {
font-weight: normal;
}

.interesting h2 {
  font-size: 30px;
  line-height: 24px;
}

/* Search */

.search-hotel {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;
}
/*
.apointment-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search:focus,
.search:active {
  background-color: var(--special);
}

.search.disabled,
.search:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}**/

.search-hotel h2{
  color: var(--basic-white);
background-color: #766357;
padding: 40px 86px

}
/*
.search{
  background-color: var(--basic-blue);
  margin-top: 20px
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.search-form input [type="email"],
.search-form input [type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-black);
}

*/
.inner-page {
  color: var(--basic-white);
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-navigation-wrapper {
  grid-template-columns: 170px 1fr min-content;
}

.inner-page .main-header-logo {
  order: 0;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.page-body {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.filters{
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  grid-column-gap: 100px;
}

.submit{
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-self: end;
}

.hotels{
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  margin-left: 160px;
}
/* Search */

.search {
  grid-column: 1 / -1;
  font: inherit;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;

}

.search legend {
  font-size: 16px;
  line-height: 21px;
}

.search ul {
  list-style: none;
  line-height: 18px;
}

.search-item-checkbox:hover + label,
.search-list-checkbox:focus + label {
  color: var(--basic-white);
}

/* Hotels */

.class{
  display: flex;
  justify-content: space-between;
}

.name-list {
width: 100%;
}

.item {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  min-height: 90px;
  background-color: var(--basic-white);
  padding: 30px;
  box-sizing: border-box;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-gray);
}

.item:first-of-type {
  border-top: 1px solid var(--basic-gray);
}

.item a {
  color: var(--basic-black);
}

.item h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;

}

.item p {
  max-width: 111px;
  width: 100%;
  margin: 0;
  font-weight: 400;
  color: var(--basic-light-gray);
}

.item p:first-of-type {
   margin-right: 5px;
 }

.rating {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.rating p.raiting-name {
  margin-right: 0;
  background: #F2F2F2;
  padding: 3px 10px;
  text-align: center;
}

.star{
  display: flex;
  justify-content: flex-end;
}

.info-wrapper{

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;


}


 .detalied{
   background: #81B3D2;
         border: none;
         padding: 5.5px 24px;
         color: #ffffff;
         text-transform: uppercase;
         font-weight: bold;
 }

 .book{
   background: #766357;
         margin-left: 6px;
color: #ffffff;
text-transform: uppercase;
border: none;
padding: 5.5px 24px;
font-weight: bold;
 }

.info{
  min-height: 90px;
    height: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.button{
  display: flex;
}

.main-info{
  display: flex;
}

.image{
  display: flex;
    flex: 0 0 auto;
}
/*Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/pattern-white.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-phone {
  margin-top: auto;
  color: inherit;
}

.footer-contacts{
  text-align: center;
  margin-left: -20px
}

.footer-contacts a {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
  margin-left: -20px;
  width: 320px;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
 margin: 0 auto;
 padding: 0;
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}

/* Social button */

.social-button {
  width: 150px;
  display: flex;
align-items: center;
justify-content: center;

  width: 43px;
  height: 43px;
  background-color:#81B3D2;
  color: inherit;
}


.social-button::before{
  opacity: 10;
}

.social-button:hover,
.social-button:focus {
  opacity: 10;
}

.footer-copyright {
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  justify-self: end;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.logotype{
  margin-left: 10px
}
