:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray:#EEEEEE;
  --basic-brown:#766357;
  --basic-light-gray:#333333;
  --basic-light-brown:#766458;
  --basic-blue:#81B3D3;
  --basic-blue:#81B3D2;
  --special: #669EC0;
}

/* Global */

body {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

}

a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
  }

/* Grid */

  .page {
  height: 100%;
}

/* Main header */

  .inner-page .main-header {
  background-color: var(--basic-white);
  margin-bottom: 70px;
}

/* Main navigation */

  .main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Logo */

.main-header-logo {
  justify-self: center;
}

.main-header-bar {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: var(--basic-white);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-white);
}

/* Features */

.first-block{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.picture-one{
   flex: 0 0 auto;
}

.true-city{
   height: 100%;
   width: 100%;
   background: #81B3D2;
   color: #ffffff;
   min-height: 256px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.number{
  font-weight: 400
}

.paragraph{
  font-weight: 400;
  max-width: 300px;
}

.second-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 330px;
}

.advantages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.advantages-p{
  max-width: 255px;
  text-align: center;
  font-weight: 400;
}

.third-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.picture-two{
   flex: 0 0 auto;
}

.devils-bridge{
  height: 100%;
  width: 100%;
  background: #81B3D2;
  color: #ffffff;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.fourth-block{
  background: #EEEEEE;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 330px;
}

.bottom-features{
  display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 400px;

}

.bottom-paragraph{
  font-weight: 400;
  max-width: 255px;
  text-align: center;
}
/* Interesting */

.interesting {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.interesting h2 {
  font-size: 30px;
  line-height: 24px;
}

/* Search */

.search-hotel {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
}

.search:focus,
.search:active {
  background-color: var(--special);
}

.search.disabled,
.search:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-blue);
}

.inner-page {
  color: var(--basic-white);
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-navigation-wrapper {
  grid-template-columns: 170px 1fr min-content;
}

.inner-page .main-header-logo {
  order: 0;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.filters{
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  grid-column-gap: 100px;
}

.submit{
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-self: end;
}

.hotels{
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  margin-left: 160px;
}
/* Search */

.search {
  grid-column: 1 / -1;
  font: inherit;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: none;

}

.search legend {
  font-size: 16px;
  line-height: 21px;
}

.search ul {
  list-style: none;
  line-height: 18px;
}

.search-item-checkbox:hover + label,
.search-list-checkbox:focus + label {
  color: var(--basic-white);
}

/* Hotels */

.class{
  display: flex;
  justify-content: space-between;
}

.name-list {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  list-style: none;
  display: flex;
}

.item {
  justify-content: space-between;
  width: 100%;
  padding: 30px 73px;
  box-sizing: border-box;
  border-bottom: 1px solid #E5E5E5;

  outline: 5px solid rgba(201, 76, 76, 0.3);
  outline-offset: -5px;
  background-color: var(--basic-white);

}

.item a {
  color: var(--basic-black);
}

.item h3 {
  font-size: 21px;
  line-height: 26px;

}

.item p {
  font-weight: 400;
  display: flex;
  color: var(--basic-light-gray:#333333;)
}

.rating{
  display: flex;
  justify-content: flex-end;
}

.star{
  display: flex;
  justify-content: flex-end;
}

.info-wrapper{
        max-width: 425px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;


}


 .detalied{
   background: #81B3D2;
         border: none;
         padding: 5.5px 24px;
         color: #ffffff;
         text-transform: uppercase;
         font-weight: bold;
 }

 .book{
   background: #766357;
         margin-left: 6px;
color: #ffffff;
text-transform: uppercase;
border: none;
padding: 5.5px 24px;
font-weight: bold;
 }

/*.info{
  margin-left:;
}*/


.button{
  display: flex;
}

.main-info{
  display: flex;
  justify-content: space-around;
}
/*Main footer */

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-image: url("../img/pattern-white.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-phone {
  color: inherit;
}

.footer-contacts a {
  margin: 0;
  width: 320px;
  color: var(--basic-black);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-copyright {
  max-width: 150px;
  margin: 0;
  justify-self: end;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
